---
import BaseHead from '../../components/BaseHead.astro';
---

<html lang="en">
  <head><BaseHead /> </head>
  <body>
    <main>
      <h1>Blog</h1>
      <p>//TODO: Write a blog post</p>
    </main>
  </body>
</html>
